@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clr{
  clear: both;
}

.logo img{
  height: 75px;
  width: 75px;
  margin-top: 10px;
  margin-left: 5px;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  height: 100%;
}

html{
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color:white;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p{
  margin: 10px 0;
}



/*Navbar*/
.navbar {
  background-color: white ;
  color: black;
  height: 100z-indexpx;
}

.navbar ul{
  display: flex;
}

.navbar a{
  color: black;
  padding: 6px;
  margin: 0 5px;
  font-size: 14px;
}

.navbar a:hover{
  border-bottom: 3px solid coral;
}

.navbar .flex{
  justify-content: space-between;
}

/*Showcase*/
.showcase {
  height: 400px;
  background-image: url('../pictures/bg.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

.showcase h1{
  font-size: 40px;
}

.showcase p{
  padding: 10px;
  font-size: 20px;
  color: white;
}

.showcase .grid{
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 20px;
}

.showcase-form{
  position: relative;
  top: 60px;
  height: 400px;
  width: 300px;
  padding: 10px;
  z-index: 80;
}

.showcase-form .form-control{
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']{
   border: 0;
   border-bottom: 1px solid #b4becb;
   width: 100%;
   padding: 3px;
   font-size: 16px;
}

.showcase-form input:focus{
  outline: none;
}



/*Utilities*/
.container{
  max-width: 1100px;
  margin: 0 0;
  overflow: auto;
  padding: 0 10px;
}

.card{
  background-color: white;
  color:#333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
}

.btn{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-outline{
  background-color: black;
}

.btn:hover{
  transform: scale(0.90);
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.recept{
  text-align: center;
  margin: 20px;
}

.recept img{
  height: 500px;
  width: 100%;
  margin: 15px;
}

.recept p{
  padding: 10px;
}

.gif{
  text-align: center;
  margin: 15px;
}

.gif img{
  text-align: center;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

hr{
  height: 2px;
  border-width: 2px;
  color: black;
}

.slide1 p, button{
  padding-left: 60px;
}

.slide1{
  float: left;
  width: 50%;
  padding: 15px;
}

.slide1 img{
  height: 415px;
  width: 700px;
}

.slide1 .p{
  text-align: center;
}

.slide1.p button{
  text-align: center;
  padding: 10px;
}


.slide2 p, button{
  padding-left: 60px;
}

.slide2{
  float: left;
  width: 50%;
  padding: 15px;
}

.slide2 img{
  height: 415px;
  width: 700px;
}

.more{
  text-align: center;
}

.online{
  text-align: center;
}

.online p{
  color: blue;
}


.slide2 .p{
  text-align: center;
}

.slide2.p button{
  text-align: center;
  padding: 10px;
}

.footer {
  background-color: coral;
  color: white;
  padding: 50px;
  margin: 0;
  text-align: center;
}

.popup{
  position: relative;
  display: inline-block;
  cursor:pointer
}


.popup .btn{
  text-align: center;
}

.popup .popuptext{
  visibility: hidden;
  width: 160px;
  background-color: coral;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-right: -80px;
}

.popup .popuptext::after{
  content: "";
  position: absolute;
  top:100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #555 transparent  transparent  transparent;
}

.popup .show{
  visibility: visible;
  -webkit-animation: fadeIn ls;
  animation: fadeIn ls;
}

@-webkit-keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

